[submodule "crates/lumos"]
	path = crates/lumos
	url = git@github.com:ssnover/lumos.git
[submodule "scripts/caseta-button-event-listener"]
	path = scripts/caseta-button-event-listener
	url = git@github.com:ssnover/caseta-button-event-listener.git
