[submodule "lumos/lumos"]
	path = lumos/lumos
	url = git@github.com:ssnover/lumos.git
[submodule "lumos/caseta-button-event-listener"]
	path = lumos/caseta-button-event-listener
	url = git@github.com:ssnover/caseta-button-event-listener.git
